Repository shellhub-io/shellhub, pull requests merged in 2021-06, with the labels that each got.

#996 cli: fix error display on userCreate
  cli/service.go
Labels: area/cli

#999 cli: keep cli container running is development mode
  cli/entrypoint-dev.sh
  docker-compose.dev.yml
Labels: area/cli

#965 api: add worker
  .env
  api/Dockerfile
  api/entrypoint-dev.sh
  api/go.mod
  api/go.sum
  api/main.go
  api/refresh.yml
  api/server.go
  api/worker.go
  docker-compose.yml
Labels: area/api

#1001 cli: refactor CreateNamespace
  cli/service.go
Labels: area/cli, status/needs-review

#997 pkg: complement regexp for btrfs mounts
  pkg/dockerutils/utils.go
Labels: area/api, kind/bug, status/changes-requested

#994 api: fix create namespace
  api/nsadm/service.go
  api/routes/nsadm.go
Labels: area/api, status/needs-review

#1022 pkg: update dbserver to mongo 4.4.4
  api/pkg/dbtest/dbserver.go
Labels: area/api, status/needs-review

#1019 api: test migration 23
  api/store/mongo/migrations/migration_23_test.go
Labels: area/api, status/work-in-progress

#1026 api: refactor migration 23 test to use assert package
  api/store/mongo/migrations/migration_23_test.go
Labels: area/api, kind/refactor, status/needs-review

#1027 ui: fix appbar icons size
  ui/src/components/app_bar/AppBar.vue
  ui/src/components/app_bar/namespace/NamespaceMenu.vue
  ui/src/components/app_bar/notification/Notification.vue
Labels: area/ui

#970 api: prevent concurrent migrations running from several instances
  api/go.mod
  api/go.sum
  api/store/mongo/migrations.go
  cli/go.sum
Labels: area/api

#622 agent: support non-root to run
  agent/go.mod
  agent/main.go
  agent/pkg/osauth/auth.go
  agent/pkg/osauth/auth_test.go
  agent/pkg/osauth/user.go
  agent/sshd/cmd.go
  agent/sshd/server.go
Labels: area/agent, kind/feature

#1031 cli: add test to createnamespace
  cli/service.go
  cli/service_test.go
Labels: status/work-in-progress

#1042 ui: show right message when user owns public key
  ui/src/components/public_key/KeyDelete.vue
  ui/src/components/public_key/KeyFormDialog.vue
Labels: area/ui

#1047 cli: fix wrong print on redis error
  cli/main.go
Labels: area/cli, status/needs-review

#1056 devscripts: execute linter on pkg directory
  devscripts/lint-code
Labels: area/scripts, status/needs-review

#956 ssh: refactor the code
  pkg/api/client/client_internal.go
  pkg/models/session.go
  ssh/main.go
  ssh/options.go
  ssh/server.go
  ssh/session.go
  ssh/ssh2ws.go
Labels: area/ssh, kind/refactor, status/needs-review

#1059 ssh: fix record session
  pkg/api/client/client_internal.go
  ssh/session.go
Labels: area/ssh, status/needs-review

#1057 ui: add test to show message tooltip for user owner
  ui/src/components/device/DeviceDelete.vue
  ui/tests/unit/components/device/DeviceDelete.spec.js
Labels: status/work-in-progress

#1072 api: refactor code to use model when creating session logs
  api/store/mocks/store.go
  api/store/mongo/session_store.go
  api/store/mongo/store_test.go
  api/store/session_store.go
Labels: area/api

#1076 ui: separate tests to wrapper different
  ui/tests/unit/components/setting/SettingNamespace.spec.js
  ui/tests/unit/components/snackbar/SnackbarError.spec.js
  ui/tests/unit/components/snackbar/SnackbarSuccess.spec.js
  ui/tests/unit/views/Dashboard.spec.js
Labels: area/ui
