Repository shellhub-io/shellhub, pull requests merged in 2021-08, with the labels that each got.

#1163 ui: fix the test to run all in settings profile
  ui/tests/unit/components/setting/SettingProfile.spec.js
Labels: area/ui

#1167 ui: refactor UI namespaces tests
  ui/src/components/app_bar/namespace/NamespaceAdd.vue
  ui/src/components/app_bar/namespace/NamespaceDelete.vue
  ui/src/components/app_bar/namespace/NamespaceInstructions.vue
  ui/src/components/app_bar/namespace/NamespaceMenu.vue
  ui/src/components/app_bar/namespace/NamespaceNewMember.vue
  ui/tests/unit/components/app_bar/namespaces/NamespaceAdd.spec.js
  ui/tests/unit/components/app_bar/namespaces/NamespaceDelete.spec.js
  ui/tests/unit/components/app_bar/namespaces/NamespaceInstructions.spec.js
  ui/tests/unit/components/app_bar/namespaces/NamespaceMenu.spec.js
  ui/tests/unit/components/app_bar/namespaces/NamespaceNewMember.spec.js
  ui/tests/unit/components/app_bar/namespaces/__snapshots__/NamespaceAdd.spec.js.snap
  ui/tests/unit/components/app_bar/namespaces/__snapshots__/NamespaceDelete.spec.js.snap
  ui/tests/unit/components/app_bar/namespaces/__snapshots__/NamespaceInstructions.spec.js.snap
  ui/tests/unit/components/app_bar/namespaces/__snapshots__/NamespaceMenu.spec.js.snap
  ui/tests/unit/components/app_bar/namespaces/__snapshots__/NamespaceNewMember.spec.js.snap
Labels: area/ui

#1168 ui: refactor UI notification tests
  ui/tests/unit/components/app_bar/notification/Notification.spec.js
  ui/tests/unit/components/app_bar/notification/__snapshots__/Notification.spec.js.snap
Labels: area/ui

#1147 ui: fix call requests on logout
  ui/src/components/device/Device.vue
  ui/src/components/firewall_rule/FirewallRule.vue
  ui/src/components/public_key/PublicKey.vue
  ui/src/components/session/Session.vue
  ui/tests/unit/components/device/Device.spec.js
  ui/tests/unit/components/device/__snapshots__/Device.spec.js.snap
  ui/tests/unit/components/firewall_rule/FirewallRule.spec.js
  ui/tests/unit/components/firewall_rule/__snapshots__/FirewallRule.spec.js.snap
  ui/tests/unit/components/public_key/PublicKey.spec.js
  ui/tests/unit/components/public_key/__snapshots__/PublicKey.spec.js.snap
  ui/tests/unit/components/session/Session.spec.js
  ui/tests/unit/components/session/__snapshots__/Session.spec.js.snap
Labels: area/ui

#1169 ui: refactor UI appBar tests
  ui/src/components/app_bar/AppBar.vue
  ui/tests/unit/components/app_bar/AppBar.spec.js
  ui/tests/unit/components/app_bar/__snapshots__/AppBar.spec.js.snap
Labels: area/ui

#1170 api: add timestamps for models device and user
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_28.go
  api/store/mongo/migrations/migration_28_test.go
  pkg/models/device.go
  pkg/models/user.go
Labels: area/api

#1172 ui: refactor UI devices tests
  ui/src/components/device/DeviceAdd.vue
  ui/src/components/device/DeviceDelete.vue
  ui/tests/unit/components/device/Device.spec.js
  ui/tests/unit/components/device/DeviceActionButton.spec.js
  ui/tests/unit/components/device/DeviceAdd.spec.js
  ui/tests/unit/components/device/DeviceDelete.spec.js
  ui/tests/unit/components/device/DeviceDetails.spec.js
  ui/tests/unit/components/device/DeviceIcon.spec.js
  ui/tests/unit/components/device/DeviceList.spec.js
  ui/tests/unit/components/device/DevicePendingList.spec.js
  ui/tests/unit/components/device/DeviceRejectedList.spec.js
  ui/tests/unit/components/device/DeviceRename.spec.js
  ui/tests/unit/components/device/__snapshots__/DeviceAdd.spec.js.snap
  ui/tests/unit/components/device/__snapshots__/DeviceDelete.spec.js.snap
  ui/tests/unit/components/device/__snapshots__/DeviceDetails.spec.js.snap
  ui/tests/unit/components/device/__snapshots__/DeviceList.spec.js.snap
  ui/tests/unit/components/device/__snapshots__/DevicePendingList.spec.js.snap
  ui/tests/unit/components/device/__snapshots__/DeviceRename.spec.js.snap
Labels: area/ui

#1173 cli: add a field to store when the user was created
  cli/service.go
Labels: area/cli

#1171 api: add last_login field to users
  api/services/auth.go
  api/services/auth_test.go
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_29.go
  api/store/mongo/migrations/migration_29_test.go
  pkg/models/user.go
Labels: area/api

#1186 api: add a way to track the remote IP
  api/routes/auth.go
  api/services/auth.go
  api/services/auth_test.go
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_30.go
  api/store/mongo/migrations/migration_30_test.go
  gateway/shellhub.conf
  pkg/models/device.go
Labels: area/api

#1187 api: add timestamp for namespace
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_31.go
  api/store/mongo/migrations/migration_31_test.go
  cli/service.go
  cli/service_test.go
  pkg/models/namespace.go
Labels: area/api, area/cli

#1185 ui: missing account registration confirmation page
  ui/src/components/account/AccountCreated.vue
  ui/src/store/api/users.js
  ui/src/store/modules/users.js
  ui/src/success.js
  ui/src/views/SignUp.vue
  ui/tests/unit/components/account/AccountCreated.spec.js
  ui/tests/unit/components/account/__snapshots__/AccountCreated.spec.js.snap
  ui/tests/unit/views/SignUp.spec.js
  ui/tests/unit/views/__snapshots__/SignUp.spec.js.snap
Labels: area/ui

#1188 api/agent/pkg/ssh/cli: update jwt
  .golangci.yaml
  agent/go.sum
  api/go.mod
  api/go.sum
  api/routes/auth.go
  api/services/auth.go
  api/services/utils.go
  cli/go.sum
  go.mod
  pkg/models/device.go
  pkg/models/user.go
  ssh/go.sum
Labels: area/agent, area/api, area/ssh, area/cli

#1189 ui: add screen to recover password
  ui/src/errors.js
  ui/src/router/index.js
  ui/src/store/api/users.js
  ui/src/store/modules/users.js
  ui/src/success.js
  ui/src/views/ForgotPassword.vue
  ui/src/views/Login.vue
  ui/tests/unit/views/ForgotPassword.spec.js
  ui/tests/unit/views/LoginIsCloud.spec.js
  ui/tests/unit/views/LoginIsnotCloud.spec.js
  ui/tests/unit/views/__snapshots__/ForgotPassword.spec.js.snap
  ui/tests/unit/views/__snapshots__/LoginIsCloud.spec.js.snap
  ui/tests/unit/views/__snapshots__/LoginIsnotCloud.spec.js.snap
Labels: area/ui

#1194 ui: add validation account acreen
  ui/src/errors.js
  ui/src/router/index.js
  ui/src/store/api/users.js
  ui/src/store/modules/users.js
  ui/src/success.js
  ui/src/views/ValidationAccount.vue
  ui/tests/unit/views/ValidationAccount.spec.js
  ui/tests/unit/views/__snapshots__/ValidationAccount.spec.js.snap
Labels: area/ui

#1197 cli: active account when user creates account
  cli/service.go
Labels: area/cli

#1198 api: migrations tested after migration
  api/store/mongo/migrations/migration_28_test.go
  api/store/mongo/migrations/migration_29_test.go
  api/store/mongo/migrations/migration_30_test.go
  api/store/mongo/migrations/migration_31_test.go
Labels: area/api

#1201 cli: update tests for table driven model
  cli/service_test.go
Labels: status/needs-review, area/cli

#1209 api: fix to set create_at on devices only one time
  api/store/mongo/device_store.go
  pkg/models/device.go
Labels: area/api

#1210 api: fix to store the last_login on users collection
  api/store/mongo/user_store.go
Labels: area/api

#1212 api: update the tests on sshkeys for table drive model
  api/services/sshkeys_test.go
Labels: area/api
