Repository shellhub-io/shellhub, pull requests merged in 2021-05, with the labels that each got.

#915 ui: fix notifications
  ui/src/components/app_bar/AppBar.vue
  ui/src/components/app_bar/notification/Notification.vue
Labels: area/ui

#909 Reshape the ui to show the actions button
  ui/src/components/device/DeviceActionButton.vue
  ui/src/components/device/DeviceAdd.vue
  ui/src/components/device/DeviceDelete.vue
  ui/src/components/device/DeviceDetails.vue
  ui/src/components/device/DeviceList.vue
  ui/src/components/device/DevicePendingList.vue
  ui/src/components/device/DeviceRejectedList.vue
  ui/src/components/device/DeviceRename.vue
  ui/src/components/firewall_rule/FirewallRule.vue
  ui/src/components/firewall_rule/FirewallRuleDelete.vue
  ui/src/components/firewall_rule/FirewallRuleFormDialog.vue
  ui/src/components/firewall_rule/FirewallRuleList.vue
  ui/src/components/public_key/KeyDelete.vue
  ui/src/components/public_key/KeyFormDialog.vue
  ui/src/components/session/SessionList.vue
  ui/src/components/session/SessionPlay.vue
  ui/tests/unit/components/device/DeviceActionButton.spec.js
  ui/tests/unit/components/device/DeviceAdd.spec.js
  ui/tests/unit/components/device/DeviceDelete.spec.js
  ui/tests/unit/components/device/DeviceDetails.spec.js
  ui/tests/unit/components/device/DeviceList.spec.js
  ui/tests/unit/components/device/DevicePendingList.spec.js
  ui/tests/unit/components/device/DeviceRejectedList.spec.js
  ui/tests/unit/components/device/DeviceRename.spec.js
  ui/tests/unit/components/firewall_rule/FirewallRule.spec.js
  ui/tests/unit/components/firewall_rule/FirewallRuleDelete.spec.js
  ui/tests/unit/components/firewall_rule/FirewallRuleFormDialog.spec.js
  ui/tests/unit/components/firewall_rule/FirewallRuleList.spec.js
  ui/tests/unit/components/public_key/KeyDelete.spec.js
  ui/tests/unit/components/public_key/KeyFormDialog.spec.js
  ui/tests/unit/components/session/SessionPlay.spec.js
Labels: area/ui

#917 agent: get container id from mountinfo when cgroup is v2
  pkg/dockerutils/utils.go
Labels: status/work-in-progress

#918 agent: add verification for nsenter arguments
  agent/sshd/cmd_docker.go
Labels: area/agent, status/needs-review

#922 Show close and play icon when user doesn't own namespace
  ui/src/components/session/SessionClose.vue
  ui/src/components/session/SessionDetails.vue
  ui/src/components/session/SessionList.vue
  ui/tests/unit/components/session/SessionClose.spec.js
  ui/tests/unit/components/session/SessionDetails.spec.js
  ui/tests/unit/components/session/SessionList.spec.js
Labels: area/ui

#920 api: fix AuthUserInfo when user does not have namespace
  api/authsvc/service.go
  api/routes/auth.go
  api/store/mongo/namespace_store.go
  api/store/mongo/user_store.go
  api/store/store.go
Labels: area/api

#929 api: add service tests to authuserinfo
  api/authsvc/service_test.go
Labels: area/api

#932 ui: remove the use of unnecessary try and catch
  ui/src/store/modules/private_keys.js
Labels: area/ui

#938 ui: fix the close edit user form
  ui/src/components/setting/SettingProfile.vue
Labels: area/ui

#936 ui: apply tag pattern in validation
  ui/src/components/app_bar/namespace/NamespaceNewMember.vue
  ui/src/components/public_key/KeyFormDialog.vue
  ui/src/components/setting/SettingNamespace.vue
  ui/src/components/setting/SettingProfile.vue
  ui/src/views/SignUp.vue
Labels: area/ui

#940 ui: fix order of operations when calling the logout method
  ui/src/components/app_bar/AppBar.vue
  ui/src/errors.js
Labels: area/ui

#942 api: restruct the migrations
  api/store/mongo/migrations.go
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_1.go
  api/store/mongo/migrations/migration_10.go
  api/store/mongo/migrations/migration_11.go
  api/store/mongo/migrations/migration_12.go
  api/store/mongo/migrations/migration_13.go
  api/store/mongo/migrations/migration_14.go
  api/store/mongo/migrations/migration_15.go
  api/store/mongo/migrations/migration_16.go
  api/store/mongo/migrations/migration_17.go
  api/store/mongo/migrations/migration_18.go
  api/store/mongo/migrations/migration_19.go
  api/store/mongo/migrations/migration_2.go
  api/store/mongo/migrations/migration_20.go
  api/store/mongo/migrations/migration_21.go
  api/store/mongo/migrations/migration_22.go
  api/store/mongo/migrations/migration_3.go
  api/store/mongo/migrations/migration_4.go
  api/store/mongo/migrations/migration_5.go
  api/store/mongo/migrations/migration_6.go
  api/store/mongo/migrations/migration_7.go
  api/store/mongo/migrations/migration_8.go
  api/store/mongo/migrations/migration_9.go
  api/store/mongo/utils.go
Labels: area/api, kind/refactor

#953 ui: fix import component calls in router
  ui/src/router/index.js
Labels: area/ui

#952 docker: improved container build time
  .env
  agent/Dockerfile
  api/Dockerfile
  docker-compose.dev.yml
  ssh/Dockerfile
  ui/Dockerfile
Labels: area/scripts

#958 ui: set sass loader version less than 11
  ui/package.json
Labels: area/ui

#964 api: add messages at each step of the API initialization
  api/main.go
  api/store/mongo/migrations/migration_1.go
  api/store/mongo/migrations/migration_10.go
  api/store/mongo/migrations/migration_11.go
  api/store/mongo/migrations/migration_12.go
  api/store/mongo/migrations/migration_13.go
  api/store/mongo/migrations/migration_14.go
  api/store/mongo/migrations/migration_15.go
  api/store/mongo/migrations/migration_16.go
  api/store/mongo/migrations/migration_17.go
  api/store/mongo/migrations/migration_18.go
  api/store/mongo/migrations/migration_19.go
  api/store/mongo/migrations/migration_2.go
  api/store/mongo/migrations/migration_20.go
  api/store/mongo/migrations/migration_21.go
  api/store/mongo/migrations/migration_22.go
  api/store/mongo/migrations/migration_3.go
  api/store/mongo/migrations/migration_4.go
  api/store/mongo/migrations/migration_5.go
  api/store/mongo/migrations/migration_6.go
  api/store/mongo/migrations/migration_7.go
  api/store/mongo/migrations/migration_8.go
  api/store/mongo/migrations/migration_9.go
Labels: area/api

#969 api, cli: fix name pattern for update
  api/store/mocks/store.go
  api/store/mongo/store_test.go
  api/store/mongo/user_store.go
  api/store/user_store.go
  api/user/service.go
  api/user/service_test.go
  cli/service.go
  cli/service_test.go
Labels: area/api

#943 api: returns errors from mongo error definitions
  api/authsvc/service.go
  api/authsvc/service_test.go
  api/deviceadm/service.go
  api/routes/sshkeys.go
  api/sshkeys/service.go
  api/store/mongo/device_store.go
  api/store/mongo/firewall_store.go
  api/store/mongo/license_store.go
  api/store/mongo/namespace_store.go
  api/store/mongo/privatekey_store.go
  api/store/mongo/publickey_store.go
  api/store/mongo/session_store.go
  api/store/mongo/store_test.go
  api/store/mongo/user_store.go
  api/store/mongo/utils.go
  api/store/store.go
  cli/service.go
Labels: area/api, kind/refactor, status/needs-review

#944 api: refactor to use early-return pattern
  api/nsadm/service.go
  api/nsadm/service_test.go
Labels: area/api, kind/refactor

#945 api: avoid modify inputs
  api/deviceadm/service.go
  api/nsadm/service.go
  api/nsadm/service_test.go
Labels: area/api, kind/refactor

#979 api: rename var namepace for tenantID on namespace services and store
  api/nsadm/service.go
  api/store/mongo/namespace_store.go
  api/store/namespace_store.go
Labels: area/api, status/work-in-progress

#974 api: update UserGetByID to enumerate namespaces
  api/authsvc/service.go
  api/nsadm/service.go
  api/nsadm/service_test.go
  api/store/mocks/store.go
  api/store/mongo/namespace_store.go
  api/store/mongo/store_test.go
  api/store/mongo/user_store.go
  api/store/user_store.go
  api/user/service.go
  api/user/service_test.go
Labels: area/api, status/needs-review
