Repository shellhub-io/shellhub, pull requests merged in 2021-09, with the labels that each got.

#1245 api: add store methods to devices
  api/store/device_store.go
  api/store/mocks/store.go
  api/store/mongo/device_store.go
  api/store/mongo/store_test.go
Labels: area/api

#1270 ui: fix wrong variable names on tests
  ui/tests/unit/components/device/DeviceDetails.spec.js
  ui/tests/unit/components/device/DeviceList.spec.js
Labels: area/ui, status/needs-review

#1276 ui: remove fabers package
  ui/package-lock.json
  ui/package.json
  ui/webpack.config.js
Labels: area/ui

#1219 api: add tag system for devices
  api/routes/device.go
  api/server.go
  api/services/device.go
  api/services/device_test.go
  api/services/errors.go
  api/services/mocks/services.go
  api/store/device_store.go
  api/store/mocks/store.go
  api/store/mongo/device_store.go
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_33.go
  api/store/mongo/migrations/migration_33_test.go
  api/store/mongo/store_test.go
  pkg/models/device.go
Labels: area/api, status/needs-review

#1242 ui: add tag system for devices
  ui/src/components/device/DeviceDetails.vue
  ui/src/components/device/DeviceList.vue
  ui/src/errors.js
  ui/src/store/api/devices.js
  ui/src/store/modules/devices.js
  ui/src/success.js
  ui/tests/unit/components/device/DeviceDetails.spec.js
  ui/tests/unit/components/device/DeviceList.spec.js
  ui/tests/unit/components/device/__snapshots__/DeviceDetails.spec.js.snap
  ui/tests/unit/components/device/__snapshots__/DeviceList.spec.js.snap
Labels: area/ui

#1277 api: fix wrong argument name on the function NamespaceGetByName
  api/store/mongo/store_test.go
  api/store/namespace_store.go
Labels: area/api, status/needs-review

#1257 ui: add tab for rename tag
  ui/src/components/setting/SettingTags.vue
Labels: area/ui, status/work-in-progress

#1279 api: remove connected_devices collection
  api/store/mongo/device_store.go
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_13_test.go
  api/store/mongo/migrations/migration_17_test.go
  api/store/mongo/migrations/migration_34.go
  api/store/mongo/migrations/migration_34_test.go
  api/store/mongo/stats_store.go
  pkg/models/device.go
Labels: area/api

#1289 api: excludes the characters /@&: for create and update tag name
  api/services/device.go
Labels: area/api, status/needs-review

#1287 Tag settings api
  api/routes/device.go
  api/server.go
  api/services/device.go
  api/services/device_test.go
  api/services/mocks/services.go
  api/store/device_store.go
  api/store/mocks/store.go
  api/store/mongo/device_store.go
  api/store/mongo/device_store_test.go
Labels: area/api

#1291 api: change null JSON's responses to empty body
  api/routes/auth.go
  api/routes/device.go
  api/routes/nsadm.go
  api/routes/session.go
  api/routes/user.go
Labels: area/api, status/needs-review, kind/refactor, status/ready-for-testing

#1297 ssh: fix firewall rule did not evaluate
  pkg/api/client/client_internal.go
  ssh/session.go
Labels: kind/bug, area/ssh, status/needs-review, status/ready-for-testing

#1298 pkg: fix GeoIP country getting information
  pkg/geoip/geolite2.go
Labels: kind/bug, status/needs-review, product/cloud, status/ready-for-testing

#1306 cicd: qa: standardize the file
  .github/workflows/qa.yml
Labels: area/ci-cd

#1304 api: split logging middleware to own file
  api/routes/middleware/authorize.go
  api/routes/middleware/log.go
  api/server.go
Labels: area/api, status/needs-review, kind/refactor, status/require-tests

#1308 openapi: add string as a model
  openapi/spec/resources/sessions/record_del.yaml
  openapi/spec/shared/models/StringModel.yaml
Labels: status/needs-review

#1309 pkg, api: split log middleware to a package
  agent/go.sum
  api/server.go
  go.mod
  pkg/middleware/log.go
  ssh/go.sum
Labels: status/work-in-progress, area/api, status/needs-review, kind/refactor, dependencies

#1294 ui: fix ui tests
  ui/src/components/device/DeviceActionButton.vue
  ui/tests/unit/App.spec.js
  ui/tests/unit/components/app_bar/AppBar.spec.js
  ui/tests/unit/components/app_bar/max_device/MaxDevice.spec.js
  ui/tests/unit/components/app_bar/namespaces/NamespaceNewMember.spec.js
  ui/tests/unit/components/app_bar/namespaces/__snapshots__/NamespaceNewMember.spec.js.snap
  ui/tests/unit/components/box/BoxMessage.spec.js
  ui/tests/unit/components/device/DeviceActionButton.spec.js
  ui/tests/unit/components/device/DeviceList.spec.js
  ui/tests/unit/components/device/DeviceRejectedList.spec.js
  ui/tests/unit/components/device/DeviceRename.spec.js
  ui/tests/unit/components/device/__snapshots__/DeviceActionButton.spec.js.snap
  ui/tests/unit/components/device/__snapshots__/DevicePendingList.spec.js.snap
  ui/tests/unit/components/device/__snapshots__/DeviceRejectedList.spec.js.snap
  ui/tests/unit/components/firewall_rule/FirewallRule.spec.js
  ui/tests/unit/components/firewall_rule/FirewallRuleDelete.spec.js
  ui/tests/unit/components/firewall_rule/FirewallRuleFormDialog.spec.js
  ui/tests/unit/components/firewall_rule/__snapshots__/FirewallRule.spec.js.snap
  ui/tests/unit/components/firewall_rule/__snapshots__/FirewallRuleDelete.spec.js.snap
  ui/tests/unit/components/firewall_rule/__snapshots__/FirewallRuleFormDialog.spec.js.snap
  ui/tests/unit/components/public_key/PublicKey.spec.js
  ui/tests/unit/components/public_key/__snapshots__/PublicKey.spec.js.snap
  ui/tests/unit/components/session/Session.spec.js
  ui/tests/unit/components/session/SessionList.spec.js
  ui/tests/unit/components/session/SessionPlay.spec.js
  ui/tests/unit/components/session/__snapshots__/Session.spec.js.snap
  ui/tests/unit/components/session/__snapshots__/SessionList.spec.js.snap
  ui/tests/unit/components/session/__snapshots__/SessionPlay.spec.js.snap
  ui/tests/unit/components/setting/__snapshots__/SettingNamespace.spec.js.snap
  ui/tests/unit/components/terminal/__snapshots__/TerminalDialog.spec.js.snap
  ui/tests/unit/views/Dashboard.spec.js
  ui/tests/unit/views/ForgotPassword.spec.js
  ui/tests/unit/views/LoginIsCloud.spec.js
  ui/tests/unit/views/LoginIsnotCloud.spec.js
  ui/tests/unit/views/SignUp.spec.js
  ui/tests/unit/views/UpdatePassword.spec.js
  ui/tests/unit/views/ValidationAccount.spec.js
  ui/tests/unit/views/__snapshots__/ForgotPassword.spec.js.snap
  ui/tests/unit/views/__snapshots__/LoginIsCloud.spec.js.snap
  ui/tests/unit/views/__snapshots__/LoginIsnotCloud.spec.js.snap
  ui/tests/unit/views/__snapshots__/SignUp.spec.js.snap
  ui/tests/unit/views/__snapshots__/UpdatePassword.spec.js.snap
  ui/tests/unit/views/__snapshots__/ValidationAccount.spec.js.snap
Labels: area/ui, status/work-in-progress

#1313 ui: remove mixins in devices components
  ui/src/components/device/Device.vue
  ui/src/components/device/DeviceList.vue
  ui/src/components/device/DevicePendingList.vue
  ui/src/components/device/DeviceRejectedList.vue
  ui/src/components/filter/object.js
  ui/tests/unit/components/device/Device.spec.js
  ui/tests/unit/components/device/__snapshots__/DevicePendingList.spec.js.snap
  ui/tests/unit/components/device/__snapshots__/DeviceRejectedList.spec.js.snap
  ui/tests/unit/components/filter/Object.spec.js
Labels: area/ui

#1314 ui: mock timezone to tests
  ui/package-lock.json
  ui/package.json
  ui/tests/unit/components/device/DeviceDetails.spec.js
  ui/tests/unit/components/filter/Date.spec.js
  ui/tests/unit/components/session/SessionDetails.spec.js
  ui/tests/unit/components/session/SessionList.spec.js
Labels: area/ui
