Repository shellhub-io/shellhub, pull requests merged in 2022-09, with the labels that each got.

#2105 Feature/set log level
  .env
  docker-compose.dev.yml
  docker-compose.yml
  ssh/main.go
Labels: area/ssh, status/needs-review, go, docker

#2138 ssh: fix SCP legacy
  ssh/server/handler/ssh.go
  ssh/session/session.go
Labels: kind/bug, area/ssh, status/needs-review, status/require-tests

#2140 ssh: fix SSH log message and exit code function name
  ssh/server/handler/ssh.go
Labels: area/ssh, status/needs-review, kind/refactor

#2152 agent: improve CLI interface to init SFTP server
  agent/main.go
Labels: do-not-merge, area/agent, kind/refactor, status/require-tests

#2155 api: remove billing's interface from store and unimplemented method
  api/store/billing_store.go
  api/store/mongo/store.go
  api/store/store.go
  api/store/user_store.go
Labels: area/api, go, kind/refactor

#2157 agent: add forgotten cobra root CMD execution
  agent/main.go
Labels: kind/bug, area/agent

#2160 api: add migration to invert firewall rule priority
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_48.go
  api/store/mongo/migrations/migration_48_test.go
Labels: kind/feature, area/api, status/needs-review, go, status/ready-for-testing

#2163 cli, bin: refactor CLI commands basing it on resources
  bin/cli
  cli/main.go
Labels: go, kind/refactor, area/cli
