Repository shellhub-io/shellhub, pull requests merged in 2022-04, with the labels that each got.

#1842 ui: add web support to ed25519 public key authentication
  ui/package-lock.json
  ui/package.json
  ui/src/components/terminal/TerminalDialog.vue
  ui/src/helpers/keyauth/ed25519.js
Labels: area/ui, status/needs-review

#1827 ui: add linear progress bar for token login
  ui/src/views/Login.vue
  ui/tests/unit/views/LoginIsCloud.spec.js
  ui/tests/unit/views/LoginIsnotCloud.spec.js
  ui/tests/unit/views/__snapshots__/LoginIsCloud.spec.js.snap
  ui/tests/unit/views/__snapshots__/LoginIsnotCloud.spec.js.snap
Labels: area/ui, 0.10.0

#1854 api: set HandleStatusResponse function as public
  api/services/device.go
  api/services/namespace.go
  api/services/service.go
Labels: do-not-merge, go, product/cloud

#1855 api: re-add removed errors used by cloud.
  api/store/errors.go
Labels: kind/bug, area/api, go

#1866 Topic/improve err messages session
  api/routes/session.go
  api/services/errors.go
  api/services/session.go
  api/services/session_test.go
Labels: area/api, status/needs-review, go, kind/refactor

#1883 Topic/improve err messages device
  api/routes/device.go
  api/routes/device_test.go
  api/services/device.go
  api/services/device_test.go
  api/services/errors.go
  pkg/models/device.go
Labels: kind/feature, do-not-merge, status/work-in-progress, area/api, status/needs-review

#1886 api: fix on query property check
  api/store/mongo/queries/queries.go
Labels: area/api, go

#1858 ssh, pkg: add connection source tracker
  pkg/models/session.go
  ssh/Dockerfile
  ssh/go.mod
  ssh/go.sum
  ssh/mocks/session.go
  ssh/session.go
  ssh/session_test.go
  ssh/ssh2ws.go
Labels: area/ssh, status/needs-review, status/ready-for-testing
