Repository shellhub-io/shellhub, pull requests merged in 2022-07, with the labels that each got.

#1985 pkg: remove requirement to params username and ip address when lookup for a device
  pkg/api/request/device.go
Labels: kind/bug, area/api, area/ssh, status/require-tests

#1999 ssh,agent: kills executable initialized by a session
  agent/sshd/server.go
  ssh/session.go
Labels: kind/bug, area/agent, area/ssh, release/breaking-change

#1982 ssh: refactor websocket ssh connection handler
  ssh/errors.go
  ssh/pkg/errors/errors.go
  ssh/pkg/errors/errors_test.go
  ssh/ssh2ws.go
Labels: do-not-merge, area/ssh, status/needs-review, kind/refactor, status/ready-for-testing

#1986 ssh: refactor new session function
  ssh/errors.go
  ssh/pkg/errors/errors.go
  ssh/session.go
  ssh/ssh2ws.go
Labels: do-not-merge, area/ssh, status/needs-review, kind/refactor, status/require-tests, status/ready-for-testing

#2009 api, pkg: fix response from create public key without fingerprint
  api/routes/sshkeys.go
  api/services/mocks/services.go
  api/services/sshkeys.go
  api/services/sshkeys_test.go
  pkg/api/response/publickey.go
Labels: kind/bug, status/work-in-progress, area/api, status/needs-review

#2008 ssh: split package into subpackages
  ssh/errors.go
  ssh/errors/errors.go
  ssh/errors/errors_test.go
  ssh/main.go
  ssh/pkg/flow/flow.go
  ssh/pkg/host/host.go
  ssh/pkg/kind/kind.go
  ssh/pkg/magickey/magickey.go
  ssh/pkg/target/target.go
  ssh/pkg/tunnel/tunnel.go
  ssh/server.go
  ssh/server/handler/password.go
  ssh/server/handler/publickey.go
  ssh/server/server.go
  ssh/session.go
  ssh/session/mocks/session.go
  ssh/session/session.go
  ssh/session/session_test.go
  ssh/session/websession.go
Labels: area/ssh, status/needs-review, kind/refactor, status/require-tests, Epic

#2033 docker: bump golang:1.18.2-alpine3.14 to golang:1.18.2-alpine3.16
  api/Dockerfile
  cli/Dockerfile
  ssh/Dockerfile
Labels: docker

#2035 ssh: fix session what does not start
  ssh/session/session.go
Labels: kind/bug, area/ssh, status/needs-review, go, status/require-tests

#2036 ssh: use WithError instead of error's field on logrus
  ssh/pkg/flow/flow.go
  ssh/pkg/kind/kind.go
  ssh/pkg/tunnel/tunnel.go
Labels: area/ssh, go
