Repository shellhub-io/shellhub, pull requests merged in 2022-08, with the labels that each got.

#2039 ssh: add comments, nolint rules and rename variable on handlers
  ssh/main.go
  ssh/pkg/flow/flow.go
  ssh/pkg/kind/kind.go
  ssh/server/handler/password.go
  ssh/server/handler/publickey.go
  ssh/server/server.go
  ssh/session/session.go
  ssh/session/websession.go
Labels: area/ssh, status/needs-review, go

#2040 ssh: remove custom error package
  ssh/errors/errors.go
  ssh/errors/errors_test.go
  ssh/server/server.go
Labels: area/ssh, status/needs-review, go, kind/refactor

#2055 api: add comments to device tags and remove unneeded validation
  api/services/device_tags.go
  api/services/device_tags_test.go
  api/services/mocks/services.go
Labels: status/work-in-progress, area/api, status/needs-review, go, kind/refactor

#2056 api: split worker instruction into multiple functions
  api/worker.go
Labels: area/api, status/needs-review, go, release/breaking-change, kind/refactor, status/require-tests

#2057 api: fix device's tag update with empty tag
  pkg/api/request/device.go
Labels: kind/bug, area/api, status/needs-review

#2058 api: invalidate token when user's role change
  api/routes/auth.go
  api/services/auth.go
  api/services/mocks/services.go
  api/services/namespace.go
Labels: kind/bug, status/work-in-progress, area/api, go, release/breaking-change, status/require-tests

#2060 api: remove billing store implmentation
  api/store/mongo/billing_store.go
  api/store/mongo/billing_store_test.go
  api/store/mongo/device_store.go
  api/store/mongo/firewall_store.go
  api/store/mongo/firewall_tags_store.go
  api/store/mongo/license_store.go
  api/store/mongo/namespace_store.go
  api/store/mongo/privatekey_store.go
  api/store/mongo/publickey_store.go
  api/store/mongo/session_store.go
  api/store/mongo/stats_store.go
  api/store/mongo/store.go
  api/store/mongo/tags_store.go
  api/store/mongo/user_store.go
  api/store/mongo/utils.go
Labels: area/api, go, product/cloud, release/breaking-change, kind/refactor, product/enterprise

#2074 ui: fix third welcome screen with gray color
  ui/src/components/welcome/WelcomeThirdScreen.vue
  ui/tests/unit/components/welcome/__snapshots__/WelcomeThirdScreen.spec.js.snap
Labels: kind/bug, area/ui, javascript, status/require-tests

#2085 api: remove option to disable cache
  api/server.go
Labels: kind/feature, area/api, go, kind/refactor

#2090 api: change cache token key to checksum
  api/services/auth.go
Labels: area/api, status/needs-review, status/require-tests

#2093 api: add migration to add position to session from its IP
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_47.go
  api/store/mongo/migrations/migration_47_test.go
  cli/go.sum
Labels: kind/feature, area/api

#2054 api,pkg: add setup route and service
  api/routes/setup.go
  api/server.go
  api/services/mocks/services.go
  api/services/service.go
  api/services/setup.go
  api/services/setup_test.go
  pkg/api/request/setup.go
Labels: kind/feature, do-not-merge, status/work-in-progress, area/api, go

#2098 ssh: add na extra parameter to Flow's function to control copy completeness
  ssh/pkg/flow/flow.go
  ssh/pkg/kind/kind.go
Labels: area/ssh, go, kind/refactor, status/require-tests

#2099 ssh, docker: set log level to trace when in development
  docker-compose.dev.yml
  ssh/main.go
Labels: kind/feature, status/needs-review, go, docker

#2094 ssh, agent: add SFTP support
  agent/go.mod
  agent/go.sum
  agent/main.go
  agent/sftp.go
  agent/sshd/server.go
  ssh/server/handler/password.go
  ssh/server/handler/publickey.go
  ssh/server/server.go
  ssh/server/subsystem/sftp.go
  ssh/session/session.go
Labels: kind/feature, area/ssh

#2104 agent,ssh,pkg: add session record to SFTP session
  agent/sshd/server.go
  pkg/api/request/session.go
  ssh/server/subsystem/sftp.go
  ssh/session/session.go
  ssh/session/session_test.go
Labels: kind/bug, area/agent, area/ssh, go, status/require-tests
