Repository shellhub-io/shellhub, pull requests merged in 2022-10, with the labels that each got.

#2165 api, gateway: add query param to auth's route to skip token check
  api/routes/auth.go
  gateway/shellhub.conf
Labels: kind/bug, area/api, status/needs-review, product/cloud, status/require-tests, product/enterprise

#2169 api: skip token check when user has no namespace
  api/routes/auth.go
Labels: kind/bug, area/api, status/needs-review, product/cloud, product/enterprise

#2175 pkg: add debug's log when agent API request doesn't authenticate
  pkg/api/client/client_public.go
Labels: kind/feature, area/api, status/needs-review

#2183 pkg: add test file to query in paginator
  pkg/api/paginator/query_test.go
Labels: status/needs-review, go

#2196 cli: call method to delete namespace and add tenant to usage
  cli/main.go
Labels: kind/bug, status/needs-review, area/cli

#2209 ssh: fix error message when firewall rule block a connection
  ssh/session/session.go
Labels: go

#2210 api: set on dbtest replica set as mandatory
  api/pkg/dbtest/dbserver.go
  api/store/mongo/tags_store_test.go
Labels: area/api, go, kind/refactor, status/require-tests

#2222 api: fix migration 50 to count MaxNamespaces with billing actived
  api/store/mongo/migrations/migration_50.go
  api/store/mongo/migrations/migration_50_test.go
Labels: kind/bug, area/api, product/cloud, status/require-tests, product/enterprise
