Repository shellhub-io/shellhub, pull requests merged in 2023-04, with the labels that each got.

#2598 api,pkg: rename packages request and response to plural's one
  api/routes/auth.go
  api/routes/device.go
  api/routes/nsadm.go
  api/routes/session.go
  api/routes/setup.go
  api/routes/sshkeys.go
  api/routes/tags.go
  api/routes/user.go
  api/services/auth.go
  api/services/auth_test.go
  api/services/mocks/services.go
  api/services/namespace.go
  api/services/namespace_test.go
  api/services/session.go
  api/services/session_test.go
  api/services/setup.go
  api/services/setup_test.go
  api/services/sshkeys.go
  api/services/sshkeys_test.go
  api/services/user.go
  api/services/user_test.go
  pkg/api/requests/auth.go
  pkg/api/requests/device.go
  pkg/api/requests/namespace.go
  pkg/api/requests/publickey.go
  pkg/api/requests/session.go
  pkg/api/requests/setup.go
  pkg/api/requests/tags.go
  pkg/api/requests/user.go
  pkg/api/responses/publickey.go
Labels: area/api

#2646 api: use method to check if namespace has a max number on device delete
  api/services/device.go
Labels: area/api, go, kind/refactor

#2647 ui: update OpenAPI generate HTTP client
  ui/src/api/client/api.ts
  ui/src/api/client/base.ts
  ui/src/api/client/common.ts
  ui/src/api/client/configuration.ts
  ui/src/api/client/index.ts
Labels: area/ui, status/work-in-progress, javascript, openapi

#2672 devscripts/added more coverage in add-device randomizer functionality
  devscripts/add-device
Labels: area/scripts

#2677 ui: fixed white overlay changing it to transparent
  ui/src/layouts/AppLayout.vue
Labels: area/ui, javascript, status/ready-for-testing

#2676 api,pkg: refactor removed device's collection to save device information
  api/services/device.go
  api/services/device_test.go
  api/services/mocks/services.go
  api/store/device_store.go
  api/store/mocks/store.go
  api/store/mongo/device_store.go
  pkg/models/device.go
Labels: area/api, kind/refactor, status/ready-for-testing

#2684 api,pkg: add list for removed devices
  api/services/device.go
  api/services/device_test.go
  api/store/device_store.go
  api/store/mocks/store.go
  api/store/mongo/device_store.go
  pkg/models/device.go
Labels: kind/feature, area/api, go, openapi

#2685 api,gateway: move install script logic from nginx to go
  api/routes/stats.go
  api/server.go
  api/services/mocks/services.go
  api/services/system.go
  api/templates/kickstart.sh
  gateway/Dockerfile
  gateway/shellhub.conf
  pkg/api/requests/system.go
Labels: area/api, go, kind/refactor

#2687 api,ssh,docker: update mockery to v2.20.0
  api/Dockerfile
  ssh/Dockerfile
Labels: docker

#2691 api,ssh,docker: add curl to production stage
  api/Dockerfile
  ssh/Dockerfile
Labels: area/api, area/ssh, status/needs-review, product/cloud, docker, product/enterprise

#2701 gateway,docker: add hot reload to gateway configuration files
  docker-compose.dev.yml
  gateway/Dockerfile
  gateway/conf.d/shellhub.conf
  gateway/entrypoint.sh
Labels: status/needs-review, docker

#2709 ui: fixed bell notification duplicated button
  ui/src/components/AppBar/Notifications/Notification.vue
  ui/src/components/Devices/DeviceActionButton.vue
  ui/src/components/Devices/DevicePendingList.vue
Labels: area/ui, javascript, kind/refactor, status/ready-for-testing
