Repository shellhub-io/shellhub, pull requests merged in 2023-10, with the labels that each got.

#3146 wait for goroutines to finish before exiting the client
  ssh/server/handler/ssh.go
Labels: area/ssh

#3159 normalize user to lowercase
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_59.go
  api/store/mongo/migrations/migration_59_test.go
Labels: area/api

#3192 fix(ui): fixed router on 404 redirect page
  ui/src/views/NotFound.vue
Labels: area/ui, kind/refactor, status/ready-for-testing

#3193 fix(ui): data-table items per page not changing
  ui/src/components/DataTable.vue
Labels: kind/bug, area/ui, javascript, status/ready-for-testing

#3195 fix exec in agent versions lower than 0.9.3
  ssh/server/handler/ssh.go
Labels: area/ssh

#3224 fix(ui): device rename persisting the input on devices
  ui/src/components/Devices/DeviceRename.vue
  ui/src/store/modules/devices.ts
  ui/tests/components/Devices/DeviceRename.spec.ts
  ui/tests/components/Devices/__snapshots__/DeviceRename.spec.ts.snap
Labels: kind/bug, area/ui, javascript, status/ready-for-testing

#3232 improve log system of the ssh's session
  ssh/session/session.go
Labels: area/ssh
