Repository shellhub-io/shellhub, pull requests merged in 2023-09, with the labels that each got.

#3048 fix(ssh): close exec session when client closes it
  ssh/server/handler/ssh.go
Labels: kind/bug, area/agent, area/ssh, status/needs-review, go, status/require-tests

#3068 refactor(api,pkg): improve mongo error detection
  api/pkg/echo/handlers/errors.go
  api/store/mongo/utils.go
  pkg/errors/errors.go
  pkg/errors/errors_test.go
Labels: area/api, go, kind/refactor, Epic

#3077 refactor(ui): refactored the new connection tab with vue 3 composition api
  ui/src/components/NewConnection/NewConnection.vue
  ui/src/components/NewConnection/NewConnectionList.vue
  ui/src/components/Terminal/TerminalDialog.vue
Labels: area/ui, kind/refactor
