Repository shellhub-io/shellhub, pull requests merged in 2023-06, with the labels that each got.

#2751 Test/add http test routes
  api/routes/device_test.go
  api/routes/healthcheck_test.go
  api/routes/nsadm_test.go
  api/routes/session_test.go
  api/routes/sshkeys_test.go
  api/routes/stats_test.go
  api/routes/tags_test.go
  api/routes/user_test.go
Labels: status/needs-review, go

#2872 fix(gateway): pass request headers to install script route
  gateway/conf.d/shellhub.conf
Labels: help-wanted, status/needs-review, status/require-tests

#2875 fix(api): fix echo bind for headers what needs to be explicit
  api/pkg/echo/handlers/binder.go
Labels: kind/bug, area/api, go, status/require-tests

#2888 Fix/service changing error message
  api/services/auth.go
  api/services/auth_test.go
Labels: area/api, status/needs-review

#2851 Fix/login component and new test
  ui/package-lock.json
  ui/package.json
  ui/src/utils/cloudUtils.ts
  ui/src/views/Login.vue
  ui/tests/views/Login.spec.ts
  ui/tests/views/NotFound.spec.ts
  ui/tests/views/__snapshots__/Login.spec.ts.snap
Labels: help-wanted, area/ui, do-not-merge, status/work-in-progress, javascript, kind/refactor

#2892 Fix/forgot password test
  ui/src/views/ForgotPassword.vue
  ui/tests/views/ForgotPassword.spec.ts
  ui/tests/views/Login.spec.ts
  ui/tests/views/__snapshots__/ForgotPassword.spec.ts.snap
Labels: area/ui, do-not-merge, javascript, kind/refactor, status/require-tests
