Repository shellhub-io/shellhub, pull requests merged in 2023-03, with the labels that each got.

#2549 ui: fix router ignoring no authenticated routes
  ui/src/App.vue
  ui/src/router/index.ts
  ui/src/views/Dashboard.vue
  ui/tests/components/Account/__snapshots__/index.spec.ts.snap
  ui/tests/views/LoginIsCloud.spec.ts
  ui/tests/views/LoginIsNotCloud.spec.ts
  ui/tests/views/__snapshots__/Dashboard.spec.ts.snap
  ui/tests/views/__snapshots__/DetailsDevice.spec.ts.snap
  ui/tests/views/__snapshots__/DetailsSessions.spec.ts.snap
  ui/tests/views/__snapshots__/Devices.spec.ts.snap
  ui/tests/views/__snapshots__/FirewallRules.spec.ts.snap
  ui/tests/views/__snapshots__/ForgotPassword.spec.ts.snap
  ui/tests/views/__snapshots__/LoginIsCloud.spec.ts.snap
  ui/tests/views/__snapshots__/LoginIsNotCloud.spec.ts.snap
  ui/tests/views/__snapshots__/PublicKeys.spec.ts.snap
  ui/tests/views/__snapshots__/Sessions.spec.ts.snap
  ui/tests/views/__snapshots__/Settings.spec.ts.snap
  ui/tests/views/__snapshots__/SignUp.spec.ts.snap
Labels: kind/bug, area/ui, javascript

#2553 ui: fix cyclic dependency on store modules
  ui/src/store/index.ts
  ui/src/store/modules/announcement.ts
  ui/src/store/modules/auth.ts
  ui/src/store/modules/billing.ts
  ui/src/store/modules/box.ts
  ui/src/store/modules/devices.ts
  ui/src/store/modules/firewall_rules.ts
  ui/src/store/modules/layout.ts
  ui/src/store/modules/mobile.ts
  ui/src/store/modules/modal.ts
  ui/src/store/modules/namespaces.ts
  ui/src/store/modules/notifications.ts
  ui/src/store/modules/private_key.ts
  ui/src/store/modules/public_keys.ts
  ui/src/store/modules/security.ts
  ui/src/store/modules/sessions.ts
  ui/src/store/modules/snackbar.ts
  ui/src/store/modules/spinner.ts
  ui/src/store/modules/stats.ts
  ui/src/store/modules/tags.ts
  ui/src/store/modules/users.ts
  ui/vitest.config.ts
Labels: kind/bug, area/ui, status/needs-review, javascript

#2557 api: fix session creation without position
  api/routes/session.go
  api/services/mocks/services.go
  api/services/session.go
  api/services/session_test.go
Labels: kind/bug, area/api, go

#2563 api: fix usage of longitude on latitude field while session creation
  api/services/session.go
Labels: kind/bug, area/api, go

#2534 agent,api,gateway,pkg,ssh: add public url to access HTTP application on device
  agent/main.go
  agent/pkg/tunnel/tunnel.go
  api/pkg/guard/actions.go
  api/pkg/guard/guard_test.go
  api/pkg/guard/permissions.go
  api/routes/device.go
  api/server.go
  api/services/device.go
  api/services/mocks/services.go
  api/store/device_store.go
  api/store/mocks/store.go
  api/store/mongo/device_store.go
  gateway/shellhub.conf
  pkg/api/request/device.go
  pkg/models/device.go
  ssh/main.go
Labels: kind/feature, area/agent, area/api, area/ssh, status/needs-review, go, status/require-tests, Epic

#2565 api: fix response when user is trying to login but it isn't confirmed yet
  api/routes/auth.go
Labels: kind/bug, area/api, go, status/require-tests

#2570 agent: change public url default port on agent to 80 instead of 8080
  agent/main.go
Labels: area/agent, go, kind/refactor

#2590 api: add migration indexing tenant_id with status to devices
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_54.go
  api/store/mongo/migrations/migration_54_test.go
Labels: area/api, go, Epic

#2592 ui: fix add private key
  ui/src/store/modules/private_key.ts
Labels: status/ready-for-testing

#2600 pkg: fix remotion of tempdir instead of geoip dir
  pkg/geoip/geolite2.go
Labels: kind/bug

#2614 ui: update billing view to integrate with Stripe Checkout and Billing Portal
  ui/src/components/Billing/BillingCancel.vue
  ui/src/components/Setting/SettingBilling.vue
  ui/src/utils/billInfoExtract.ts
  ui/src/utils/handleError.ts
Labels: area/ui

#2616 ui: deal with pending state as inactive one
  ui/src/components/Setting/SettingBilling.vue
Labels: area/ui

#2620 ui: regenerate OpenAPI client
  ui/src/api/client/.openapi-generator/FILES
  ui/src/api/client/api.ts
  ui/src/api/client/base.ts
  ui/src/api/client/common.ts
  ui/src/api/client/configuration.ts
  ui/src/api/client/index.ts
Labels: area/ui, status/needs-review, javascript, openapi

#2631 api: fix wrong key when deleting a device from cache
  api/store/mongo/device_store.go
Labels: kind/bug, area/api
