Repository shellhub-io/shellhub, pull requests merged in 2024-02, with the labels that each got.

#3521 remove deprecated query packages
  pkg/api/filter/filter.go
  pkg/api/filter/filter_test.go
  pkg/api/order/query.go
  pkg/api/paginator/doc.go
  pkg/api/paginator/query.go
  pkg/api/paginator/query_test.go
Labels: area/api, area/pkg

#3546 correct cli documentation redirect
  cli/README.md
Labels: area/docs, area/cli

#3529 feature(agent,pkg): validate required env variable when it is empty
  agent/main.go
  pkg/agent/agent.go
  pkg/validator/validator.go
Labels: status/needs-review, status/require-tests, status/good-to-merge

#3569 feat(ui): alert for private keys privacy policy
  ui/src/components/Setting/SettingPrivateKeys.vue
  ui/tests/components/PrivateKeys/SettingsPrivateKeys.spec.ts
  ui/tests/components/PrivateKeys/__snapshots__/SettingsPrivateKeys.spec.ts.snap
Labels: kind/feature, area/ui, javascript, status/good-to-merge
