Repository shellhub-io/shellhub, pull requests merged in 2024-04, with the labels that each got.

#3681 test(ui): generate device related snapshots
  ui/tests/components/Devices/__snapshots__/DevicePendingList.spec.ts.snap
  ui/tests/components/Devices/__snapshots__/DeviceRejectedList.spec.ts.snap
Labels: area/ui

#3707 fix slow query in NamespaceGet
  api/services/api_key.go
  api/services/api_key_test.go
  api/services/auth.go
  api/services/auth_test.go
  api/services/device.go
  api/services/device_test.go
  api/services/namespace.go
  api/services/namespace_test.go
  api/services/sshkeys.go
  api/services/sshkeys_tags.go
  api/services/sshkeys_tags_test.go
  api/services/sshkeys_test.go
  api/services/tags.go
  api/services/tags_test.go
  api/store/mocks/store.go
  api/store/mongo/namespace.go
  api/store/mongo/namespace_test.go
  api/store/namespace.go
Labels: area/api

#3706 tests(ui): add user settings related unitary tests
  ui/src/components/Setting/SettingOwnerInfo.vue
  ui/src/components/Setting/SettingSecurity.vue
  ui/src/components/Setting/SettingTags.vue
  ui/tests/components/Setting/SettingOwnerInfo.spec.ts
  ui/tests/components/Setting/SettingSecurity.spec.ts
  ui/tests/components/Setting/SettingTags.spec.ts
  ui/tests/components/Setting/__snapshots__/SettingNamespace.spec.ts.snap
  ui/tests/components/Setting/__snapshots__/SettingOwnerInfo.spec.ts.snap
  ui/tests/components/Setting/__snapshots__/SettingSecurity.spec.ts.snap
  ui/tests/components/Setting/__snapshots__/SettingTags.spec.ts.snap
Labels: area/ui, javascript, status/ready-for-testing

#3719 fix(ui): add error messages and test cases for api key generating and editing
  ui/src/components/Namespace/NamespaceEditApiKey.vue
  ui/src/components/Namespace/NamespaceGenerateApiKey.vue
  ui/tests/components/Namespace/NamespaceEditApiKey.spec.ts
  ui/tests/components/Namespace/NamespaceGenerateApiKey.spec.ts
Labels: kind/bug, area/ui, javascript, status/ready-for-testing

#3732 tests(ui): add new connection related tests
  ui/src/components/NewConnection/NewConnection.vue
  ui/src/components/NewConnection/NewConnectionList.vue
  ui/tests/components/NewConnection/NewConnection.spec.ts
  ui/tests/components/NewConnection/NewConnectionList.spec.ts
  ui/tests/components/NewConnection/__snapshots__/NewConnection.spec.ts.snap
  ui/tests/components/NewConnection/__snapshots__/NewConnectionList.spec.ts.snap
  ui/tests/layouts/__snapshots__/AppLayout.spec.ts.snap
Labels: area/ui, status/good-to-merge

#3757 remove unused mocks
  pkg/mocks/doc.go
  pkg/mocks/io.go
Labels: area/pkg

#3762 remove(api): unused heartbeat endpoints
  api/routes/device.go
  api/routes/device_test.go
  api/routes/routes.go
  api/services/device.go
  api/services/device_test.go
  api/services/mocks/services.go
  pkg/api/requests/device.go
Labels: area/api

#3763 fix(api): correct typo in 'OfflineDevice'
  api/routes/device.go
  api/routes/device_test.go
  api/services/device.go
  api/services/device_test.go
  api/services/mocks/services.go
Labels: area/api

#3759 switch to bulk writes in DeviceSetOnline
  api/routes/auth.go
  api/routes/device.go
  api/routes/device_test.go
  api/services/auth.go
  api/services/device.go
  api/services/device_test.go
  api/services/mocks/services.go
  api/store/device.go
  api/store/mocks/store.go
  api/store/mongo/device.go
  api/store/mongo/device_test.go
  api/workers/heartbeat.go
  api/workers/workers.go
  gateway/conf.d/shellhub.conf
  pkg/api/internalclient/device.go
  pkg/api/internalclient/mocks/internalclient.go
  pkg/models/device.go
  ssh/pkg/tunnel/tunnel.go
  ssh/session/session.go
Labels: area/api, area/ssh, area/gateway

#3768 fix(ssh): look for tenant in api when header is empty
  ssh/pkg/tunnel/tunnel.go
Labels: area/ssh

#3778 test(ui): added welcome screens tests
  ui/src/components/Welcome/Welcome.vue
  ui/src/components/Welcome/WelcomeFirstScreen.vue
  ui/src/components/Welcome/WelcomeFourthScreen.vue
  ui/src/components/Welcome/WelcomeSecondScreen.vue
  ui/src/components/Welcome/WelcomeThirdScreen.vue
  ui/tests/components/Welcome/Welcome.spec.ts
  ui/tests/components/Welcome/WelcomeFirstScreen.spec.ts
  ui/tests/components/Welcome/WelcomeFourthScreen.spec.ts
  ui/tests/components/Welcome/WelcomeSecondScreen.spec.ts
  ui/tests/components/Welcome/WelcomeThirdScreen.spec.ts
  ui/tests/components/Welcome/__snapshots__/Welcome.spec.ts.snap
  ui/tests/components/Welcome/__snapshots__/WelcomeFirstScreen.spec.ts.snap
  ui/tests/components/Welcome/__snapshots__/WelcomeFourthScreen.spec.ts.snap
  ui/tests/components/Welcome/__snapshots__/WelcomeSecondScreen.spec.ts.snap
  ui/tests/components/Welcome/__snapshots__/WelcomeThirdScreen.spec.ts.snap
Labels: area/ui, javascript, kind/refactor, status/ready-for-testing

#3780 remove mongo-migrate replace
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
Labels: area/api, area/cli

#3794 fix(ui): corrected response data from mfa store action
  ui/src/store/modules/auth.ts
  ui/tests/store/modules/auth.spec.ts
Labels: kind/bug, area/ui, status/good-to-merge

#3793 fix(api): allow device with uppercase name
  api/routes/auth_test.go
  pkg/validator/validator.go
  pkg/validator/validator_test.go
Labels: kind/bug
