Repository shellhub-io/shellhub, pull requests merged in 2024-05, with the labels that each got.

#3790 refactor(api): remove unused cloud code
  api/go.sum
  api/store/announcement.go
  api/store/firewall.go
  api/store/firewall_tags.go
  api/store/mfa.go
  api/store/mfa_store.go
  api/store/mocks/store.go
  api/store/mongo/announcement.go
  api/store/mongo/announcement_test.go
  api/store/mongo/firewall.go
  api/store/mongo/firewall_tags.go
  api/store/mongo/firewall_tags_test.go
  api/store/mongo/firewall_test.go
  api/store/mongo/mfa.go
  api/store/mongo/mfa_store.go
  api/store/mongo/mfa_store_test.go
  api/store/mongo/session.go
  api/store/mongo/session_test.go
  api/store/mongo/store_test.go
  api/store/mongo/tags.go
  api/store/mongo/user.go
  api/store/mongo/user_test.go
  api/store/session.go
  api/store/store.go
  api/store/user.go
  cli/go.sum
  pkg/models/session.go
  pkg/models/user.go
Labels: area/api

#3798 centralize user's update operation
  api/services/auth.go
  api/services/auth_test.go
  api/services/user.go
  api/services/user_test.go
  api/store/mocks/store.go
  api/store/mongo/store_test.go
  api/store/mongo/user.go
  api/store/mongo/user_test.go
  api/store/user.go
  cli/services/users.go
  cli/services/users_test.go
  pkg/models/user.go
Labels: area/api, area/pkg

#3806 refactor: jwttoken package
  agent/go.mod
  agent/go.sum
  api/services/auth.go
  connector/go.mod
  connector/go.sum
  pkg/api/jwttoken/jwttoken.go
  pkg/models/device.go
  pkg/models/user.go
Labels: area/api, area/pkg

#3809 feature(agent,pkg): add connector mode
  .env
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/qa.yml
  agent/main.go
  bin/utils
  connector/.keys/.gitkeep
  connector/Dockerfile
  connector/entrypoint-dev.sh
  connector/go.mod
  connector/go.sum
  connector/main.go
  connector/refresh.yml
  devscripts/update-go
  docker-compose.connector.dev.yml
  docker-compose.connector.yml
  pkg/agent/connector/docker.go
Labels: do-not-merge

#3799 refactor: mfa store
  api/go.mod
  api/routes/auth.go
  api/routes/auth_test.go
  api/services/auth.go
  api/services/auth_test.go
  api/services/errors.go
  api/services/mocks/services.go
  api/store/mocks/store.go
  api/store/mongo/mfa.go
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_63_test.go
  api/store/mongo/migrations/migration_66.go
  api/store/mongo/migrations/migration_66_test.go
  api/store/mongo/migrations/migration_67.go
  api/store/mongo/migrations/migration_67_test.go
  api/store/store.go
  gateway/conf.d/shellhub.conf
  pkg/api/requests/auth.go
  pkg/models/mfa.go
  pkg/models/user.go
  tests/go.mod
  tests/go.sum
Labels: area/api, area/pkg
