Repository shellhub-io/shellhub, pull requests merged in 2024-06, with the labels that each got.

#3839 refactor(api): new api-key implementation
  api/routes/api-key.go
  api/routes/api-key_test.go
  api/routes/api_key.go
  api/routes/api_key_test.go
  api/routes/auth.go
  api/routes/routes.go
  api/services/api-key.go
  api/services/api-key_test.go
  api/services/api_key.go
  api/services/api_key_test.go
  api/services/auth.go
  api/services/auth_test.go
  api/services/errors.go
  api/services/mocks/services.go
  api/store/api_key.go
  api/store/mocks/store.go
  api/store/mongo/api-key.go
  api/store/mongo/api-key_test.go
  api/store/mongo/api_key.go
  api/store/mongo/api_key_test.go
  api/store/mongo/fixtures/api-key.json
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_68.go
  api/store/mongo/migrations/migration_68_test.go
  api/store/mongo/migrations/migration_69.go
  api/store/mongo/migrations/migration_69_test.go
  api/store/mongo/store_test.go
  pkg/api/requests/api-key.go
  pkg/api/requests/apikey.go
  pkg/api/responses/api-key.go
  pkg/models/api_key.go
  pkg/validator/validator.go
Labels: area/api, area/pkg, status/good-to-merge

#3797 refactor(api,pkg): move admin code
  api/store/announcement.go
  api/store/license.go
  api/store/mocks/store.go
  api/store/mongo/announcement.go
  api/store/mongo/announcement_test.go
  api/store/mongo/fixtures/announcements.json
  api/store/mongo/fixtures/licenses.json
  api/store/mongo/license.go
  api/store/mongo/license_test.go
  api/store/mongo/store_test.go
  api/store/store.go
  pkg/models/announcement.go
  pkg/models/license.go
Labels: area/api, area/pkg

#3858 fix(ui): update recovery email input on enabling the mfa
  ui/src/components/AuthMFA/MfaSettings.vue
  ui/src/components/Setting/SettingProfile.vue
  ui/src/store/modules/auth.ts
Labels: area/ui, status/good-to-merge

#3860 feat(ui): validate the namespace add modal on community
  ui/src/components/Namespace/NamespaceAdd.vue
  ui/src/components/Namespace/NamespaceInstructions.vue
Labels: kind/feature, area/ui, javascript, status/ready-for-testing

#3861 fix(ssh): add tenant on tunnel dial to close a session
  ssh/pkg/tunnel/tunnel.go
Labels: area/ssh

#3859 fix(api,ssh,pkg): update session type when data piped
  api/routes/routes.go
  api/routes/session.go
  api/services/mocks/services.go
  api/services/session.go
  api/services/session_test.go
  api/store/mocks/store.go
  api/store/mongo/session.go
  api/store/mongo/session_test.go
  api/store/session.go
  pkg/api/internalclient/mocks/internalclient.go
  pkg/api/internalclient/session.go
  pkg/api/requests/session.go
  pkg/models/session.go
  ssh/server/channels/utils.go
  ssh/session/session.go
Labels: area/api, area/ssh

#3865 feat(api): allow equal roles in guard operations
  api/pkg/guard/guard.go
  api/pkg/guard/guard_test.go
  api/services/api-key.go
  api/services/namespace.go
  api/services/namespace_test.go
Labels: area/api, area/pkg

#3721 feat(ui): add role selection to api key generate
  ui/src/api/client/api.ts
  ui/src/components/Namespace/NamespaceApiKeyList.vue
  ui/src/components/Namespace/NamespaceDeleteApiKey.vue
  ui/src/components/Namespace/NamespaceEditApiKey.vue
  ui/src/components/Namespace/NamespaceGenerateApiKey.vue
  ui/src/interfaces/IUserLogin.ts
  ui/src/store/api/api_keys.ts
  ui/src/store/api/auth.ts
  ui/src/store/index.ts
  ui/src/store/modules/api_keys.ts
  ui/src/store/modules/auth.ts
  ui/src/store/plugins/api.ts
  ui/tests/components/Namespace/NamespaceApiKeyList.spec.ts
  ui/tests/components/Namespace/NamespaceDeleteApiKey.spec.ts
  ui/tests/components/Namespace/NamespaceEditApiKey.spec.ts
  ui/tests/components/Namespace/NamespaceGenerateApiKey.spec.ts
  ui/tests/components/Namespace/__snapshots__/NamespaceApiKeyList.spec.ts.snap
  ui/tests/components/Setting/__snapshots__/SettingNamespace.spec.ts.snap
  ui/tests/store/modules/api_keys.spec.ts
  ui/tests/store/modules/auth.spec.ts
Labels: kind/feature, area/ui, status/work-in-progress

#3863 feat(agent): reauthentication timeout
  pkg/agent/agent.go
  pkg/agent/agent_test.go
Labels: area/agent

#3883 tests(api): improve guard tests
  api/routes/device_test.go
  api/routes/nsadm_test.go
  api/routes/sshkeys_test.go
  api/routes/tags_test.go
Labels: area/api, status/good-to-merge

#3907 remove(pkg): mqtt-related code
  pkg/models/mqtt.go
Labels: area/api, status/good-to-merge

#3857 feat(api): new guard implementation
  api/pkg/echo/handlers/errors.go
  api/pkg/gateway/context.go
  api/pkg/guard/actions.go
  api/pkg/guard/deprecated.go
  api/pkg/guard/errors.go
  api/pkg/guard/guard.go
  api/pkg/guard/guard_test.go
  api/routes/api-key.go
  api/routes/api-key_test.go
  api/routes/auth.go
  api/routes/auth_test.go
  api/routes/device.go
  api/routes/device_test.go
  api/routes/middleware/authorize.go
  api/routes/nsadm.go
  api/routes/nsadm_test.go
  api/routes/routes.go
  api/routes/session_test.go
  api/routes/sshkeys.go
  api/routes/sshkeys_test.go
  api/routes/stats_test.go
  api/routes/tags.go
  api/routes/tags_test.go
  api/routes/user_test.go
  api/services/api-key.go
  api/services/api-key_test.go
  api/services/auth.go
  api/services/auth_test.go
  api/services/device_test.go
  api/services/errors.go
  api/services/mocks/services.go
  api/services/namespace.go
  api/services/namespace_test.go
  api/services/setup.go
  api/services/setup_test.go
  api/store/mongo/migrations/migration_37.go
  api/store/mongo/migrations/migration_37_test.go
  api/store/mongo/namespace_test.go
  cli/cmd/deprecated.go
  cli/pkg/inputs/member.go
  cli/services/namespaces.go
  cli/services/namespaces_test.go
  cli/services/users_test.go
  pkg/api/auth/auth.go
  pkg/api/auth/auth_test.go
  pkg/api/auth/permissions.go
  pkg/api/requests/api-key.go
  pkg/api/requests/namespace.go
  pkg/api/responses/api-key.go
  pkg/models/api_key.go
  pkg/models/namespace.go
  pkg/models/user.go
  pkg/validator/validator.go
Labels: area/api

#3905 refactor(api): simplify user authentication
  api/routes/auth.go
  api/routes/auth_test.go
  api/routes/routes.go
  api/services/auth.go
  api/services/auth_test.go
  api/services/mocks/services.go
  pkg/api/requests/auth.go
Labels: area/api, status/good-to-merge

#3910 feat(api): preferred namespace
  api/services/auth.go
  api/services/auth_test.go
  api/store/mocks/store.go
  api/store/mongo/migrations/main.go
  api/store/mongo/migrations/migration_70.go
  api/store/mongo/migrations/migration_70_test.go
  api/store/mongo/migrations/migration_71.go
  api/store/mongo/migrations/migration_71_test.go
  api/store/mongo/namespace.go
  api/store/mongo/namespace_test.go
  api/store/namespace.go
  pkg/models/user.go
Labels: area/api, status/good-to-merge

#3887 tests(api): add tests to api gateway
  api/pkg/gateway/context_test.go
  api/pkg/gateway/gateway_test.go
Labels: do-not-merge, area/api

#3924 bump(ui): bump vue-tsc to 2.0.22
  ui/package-lock.json
  ui/package.json
Labels: status/ready-for-testing

#3923 fix(api): allow device listing without tenant
  agent/go.mod
  agent/go.sum
  api/routes/device.go
  api/routes/device_test.go
  api/services/device.go
  api/services/device_test.go
  api/services/mocks/services.go
  go.mod
  pkg/api/requests/device.go
  ssh/go.mod
  ssh/go.sum
Labels: area/api, status/good-to-merge
