Repository shellhub-io/shellhub, pull requests merged in 2024-03, with the labels that each got.

#3570 feat(ui): private keys passphrase validation
  ui/src/components/PrivateKeys/PrivateKeyAdd.vue
  ui/src/utils/validate.ts
  ui/tests/components/PrivateKeys/PrivateKeyAdd.spec.ts
  ui/tests/components/PrivateKeys/__snapshots__/PrivateKeyAdd.spec.ts.snap
  ui/tests/components/Setting/SettingsPrivateKeys.spec.ts
  ui/tests/components/Setting/__snapshots__/SettingsPrivateKeys.spec.ts.snap
Labels: kind/feature, area/ui, javascript, status/ready-for-testing

#3583 refactor(ssh): use auth handlers to start SSH connection
  ssh/pkg/metadata/constants.go
  ssh/pkg/metadata/metadata.go
  ssh/pkg/metadata/mocks/metadata.go
  ssh/pkg/metadata/restore.go
  ssh/pkg/metadata/restore_test.go
  ssh/pkg/metadata/store.go
  ssh/pkg/metadata/store_test.go
  ssh/server/auth/password.go
  ssh/server/auth/password_test.go
  ssh/server/auth/publickey.go
  ssh/server/auth/publickey_test.go
  ssh/server/channels/tcpip.go
  ssh/server/handler/sftp.go
  ssh/server/handler/ssh.go
  ssh/server/handler/util.go
  ssh/server/handler/util_test.go
  ssh/server/handler/web.go
  ssh/server/server.go
  ssh/session/session.go
Labels: area/ssh, status/needs-review

#3584 improve(ssh): remove env parsing from session handler
  ssh/server/auth/publickey.go
  ssh/server/handler.go
  ssh/server/handler/ssh.go
  ssh/server/handler/util.go
  ssh/server/server.go
  ssh/server/utils.go
  ssh/session/errors.go
  ssh/session/util_test.go
  ssh/session/utils.go
Labels: area/ssh

#3585 chore(ssh): split handlers into subsystems, channels and handlers
  ssh/main.go
  ssh/server/auth/doc.go
  ssh/server/auth/password.go
  ssh/server/auth/password_test.go
  ssh/server/auth/publickey.go
  ssh/server/auth/publickey_test.go
  ssh/server/channels/channels.go
  ssh/server/channels/tcpip.go
  ssh/server/handler.go
  ssh/server/handler/doc.go
  ssh/server/handlers/errors.go
  ssh/server/handlers/session.go
  ssh/server/handlers/util.go
  ssh/server/handlers/web.go
  ssh/server/server.go
  ssh/server/subsystems/sftp.go
  ssh/server/subsystems/util.go
  ssh/session/session.go
  ssh/session/types.go
Labels: area/ssh

#3589 fix(ssh): inform the API for a closed connection
  ssh/server/handler.go
  ssh/server/subsystems/sftp.go
Labels: area/ssh

#3586 Refactor/ssh api client
  pkg/api/internalclient/mocks/internalclient.go
  pkg/api/internalclient/session.go
  ssh/server/handler.go
  ssh/server/handlers/session.go
  ssh/server/subsystems/sftp.go
  ssh/session/session.go
Labels: area/ssh

#3588 refactor(ssh): remove unnecessary handling for session channel
  ssh/pkg/flow/flow.go
  ssh/pkg/flow/flow_test.go
  ssh/server/channels/session.go
  ssh/server/channels/tcpip.go
  ssh/server/channels/utils.go
  ssh/server/handler.go
  ssh/server/handlers/session.go
  ssh/server/handlers/util.go
  ssh/server/handlers/web.go
  ssh/server/server.go
  ssh/server/subsystems/sftp.go
  ssh/server/subsystems/util.go
  ssh/session/session.go
  ssh/session/types.go
  ssh/session/utils.go
Labels: kind/feature, area/ssh, status/needs-review, kind/refactor, Epic

#3604 refactor(ui): terminal on close handling
  ui/src/components/Terminal/TerminalDialog.vue
  ui/tests/components/Devices/DeviceList.spec.ts
  ui/tests/components/Terminal/TerminalDialog.spec.ts
  ui/tests/components/Terminal/__snapshots__/TerminalDialog.spec.ts.snap
Labels: area/ui, javascript, kind/refactor, status/ready-for-testing

#3590 Refactor/ssh authentication
  ssh/pkg/metadata/constants.go
  ssh/pkg/metadata/doc.go
  ssh/pkg/metadata/metadata.go
  ssh/pkg/metadata/mocks/metadata.go
  ssh/pkg/metadata/restore.go
  ssh/pkg/metadata/restore_test.go
  ssh/pkg/metadata/store.go
  ssh/pkg/metadata/store_test.go
  ssh/server/auth/doc.go
  ssh/server/auth/password.go
  ssh/server/auth/password_test.go
  ssh/server/auth/publickey.go
  ssh/server/auth/publickey_test.go
  ssh/server/channels/session.go
  ssh/server/channels/tcpip.go
  ssh/server/server.go
  ssh/session/auther.go
  ssh/session/conf.go
  ssh/session/errors.go
  ssh/session/session.go
  ssh/session/snapshot.go
  ssh/session/util_test.go
  ssh/session/utils.go
Labels: area/ssh

#3617 refactor(ui): attribued an unique identifier to Private Keys listing
  ui/src/components/PrivateKeys/PrivateKeyDelete.vue
  ui/src/components/PrivateKeys/PrivateKeyEdit.vue
  ui/src/components/PrivateKeys/PrivateKeyList.vue
  ui/src/interfaces/IPrivateKey.ts
  ui/src/store/modules/private_key.ts
Labels: area/ui, javascript, kind/refactor

#3619 fix(ssh): evaluate public key before dial to agent
  ssh/server/auth/password.go
  ssh/server/auth/publickey.go
  ssh/session/session.go
  ssh/session/snapshot.go
Labels: area/ssh

#3638 test(ui): added test cases for public key manager
  ui/src/components/PublicKeys/PublicKeyAdd.vue
  ui/src/components/PublicKeys/PublicKeyDelete.vue
  ui/src/components/PublicKeys/PublicKeyEdit.vue
  ui/src/components/PublicKeys/PublicKeysList.vue
  ui/src/store/modules/public_keys.ts
  ui/tests/components/PublicKeys/PublicKeyAdd.spec.ts
  ui/tests/components/PublicKeys/PublicKeyDelete.spec.ts
  ui/tests/components/PublicKeys/PublicKeyEdit.spec.ts
  ui/tests/components/PublicKeys/PublicKeyList.spec.ts
  ui/tests/components/PublicKeys/__snapshots__/PublicKeyAdd.spec.ts.snap
  ui/tests/components/PublicKeys/__snapshots__/PublicKeyDelete.spec.ts.snap
  ui/tests/components/PublicKeys/__snapshots__/PublicKeyEdit.spec.ts.snap
  ui/tests/components/PublicKeys/__snapshots__/PublicKeyList.spec.ts.snap
  ui/tests/store/modules/public_keys.spec.ts
Labels: area/ui, javascript, status/ready-for-testing

#3654 fix(ui): correct notification view nomenclature
  ui/src/authorizer.ts
Labels: area/ui

#3657 fix set session as active
  api/store/mongo/session.go
Labels: area/api
